<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	
 <connectionStrings>
  <add name="LogInDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\ASP.NET PROJECTS\Final Project!\Face Pamphlet\App_Data\Final Project DataBase.mdb&quot;"
   providerName="System.Data.OleDb" />
  <add name="MemeberDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\ASP.NET PROJECTS\Final Project!\Face Pamphlet\App_Data\Final Project DataBase.mdb&quot;"
   providerName="System.Data.OleDb" />
  <add name="MemberDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\ASP.NET PROJECTS\Final Project!\Face Pamphlet\App_Data\Final Project DataBase.mdb&quot;"
   providerName="System.Data.OleDb" />
  <add name="PostsDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\ASP.NET PROJECTS\Final Project!\Face Pamphlet\App_Data\Final Project DataBase.mdb&quot;"
   providerName="System.Data.OleDb" />
  <add name="FriendsDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\ASP.NET PROJECTS\Final Project!\Face Pamphlet\App_Data\Final Project DataBase.mdb&quot;"
   providerName="System.Data.OleDb" />
  <add name="InsertPostsDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\ASP.NET PROJECTS\Final Project!\Face Pamphlet\App_Data\Final Project DataBase.mdb&quot;"
   providerName="System.Data.OleDb" />
  <add name="HardestSQlStatementDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;G:\ASP.NET PROJECTS\Final Project!\Face Pamphlet\App_Data\Final Project DataBase.mdb&quot;"
   providerName="System.Data.OleDb" />
  <add name="InserFriendDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEaDB.4.0;Data Source=&quot;G:\ASP.NET PROJECTS\Final Project!\Face Pamphlet\App_Data\Final Project DataBase.mdb&quot;"
   providerName="System.Data.OleDb" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
